body {
    background-color: #fff;
    color: #1f4068;
    margin: 0;
}

h3 {
    margin-bottom: -5px;
}

.tile {
    float: left;
    border: 1px #1f4068 dotted;
    width: 340px;
    max-height: 420px;
    overflow: hidden;
}

.qrcode {
    text-align: center;
}

#footer {
    margin-top: -25px;
}

#footer a {
    background-color: #fff;
    margin: 0;
    padding: 0;
    color: #1f4068;
}