/* SB DJ 
 * Release 2020.0
 * Written by Saskia Brückner
 *
 * Color sheme: https://colorhunt.co/palette/181367
 */

body {
    background-color: #162447;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.5;
}

a {
    background-color: #1f4068;
    border-radius: 10px;
    color: #fff;
    margin: 0 5px 0 0;
    padding: 5px 10px;
    text-decoration: none;
}

a:hover {
    background-color: #e43f5a;
}

h1, 
h2, 
h3 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

h1 {
    font-size: 40pt;
}

h2, h3 {
    font-size: 25pt;
}

.item {
    background-color: #1f4068;
    border-radius: 10px;
    margin: 0 -5px 5px -5px;
    padding: 5px 10px;
    vertical-align: middle;
}

.item .box {
    line-height: 200%;
}

.wish {
    background-color: #40681F;
}

.title {
    font-family: "Playfair Display", serif;
    font-size: 15pt;
}

.artist {
    font-size: 10pt;
}

.votes, 
.hostname, 
.timestamp {
    font-size: 8pt;
}

.actions {
    text-align: right;
    width: 100%;
}

.btnRefresh,
.btnDefault,
.btnDanger,
.removeFromPlaylist {
    background-color: #1f4068;
    border-radius: 5px;
    font-size: 12pt;
    margin: 0 5px 0 0;
    padding: 5px 10px;
}

.btnRefresh:hover,
.play:hover,
.wish .removeFromPlaylist:hover,
.accept:hover {
    background-color: #66864B;
}

.btnDefault:hover,
.removeFromPlaylist:hover {
    background-color: #4B6686;
}

.btnDanger:hover,
.decline:hover {
    background-color: #864B66;
}

.btnRefresh {
    background-color: #40681F;
}

.btnDanger {
    background-color: #681F40;
}

.accepted,
.play,
.wish .removeFromPlaylist,
.accepted .vote {
    background-color: #40681F;
}

.accepted .vote:hover {
    background-color: #e43f5a;
}

.declined {
    background-color: #681F40;
}

.latestwish {
    animation: latestwish 1s;
    background-color: #1f4068;
}

@keyframes latestwish {
    from { 
        background-color: #e43f5a; 
    }
    to { 
        background-color: #1f4068; 
    }
}

.yourwish {
    background-color: #1f4068;
    border-radius: 10px;
    color: #e43f5a;
    margin: 0 5px 0 0;
    padding: 5px 10px;
}

#msg {
    background-color: #1f4068;
    border-radius: 10px;
    color: #fff;
    margin: 10px 0 0 0;
    padding: 5px 10px;
    text-decoration: none;
}

#msg i {
    color: #d0d3da;
    font-family: "Playfair Display", serif;
    font-style: normal;
}

#msg i::before {
    color: #d0d3da;
    content: " « ";
}

#msg i::after {
    color: #d0d3da;
    content: " » ";
}

#header a {
    color: #fff;
    font-weight: 300;
}

#header a:hover {
    color: #fff;
    font-weight: 300;
}

#footer .box,
#header .box,
.content {
    margin: 0;
    padding: 15px 25px;
}

#footer small {
    font-size: 8pt;
    line-height: 2.7;
    margin: 0 5px 0 0;
}

form input:not(.checkbox),
form textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: #4B6686;
    border-radius: 10px;
    border: 0;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 12pt;
    font-weight: 300;
    margin: 0 0 0 -5px;
    outline: none;
    padding: 5px 10px;
}

.checkbox {
    background-color: #4B6686;
    border-radius: 3px;
    border: 0;
    color: #fff;
    margin: 0 0 0 0;
    outline: none;
    padding: 0;
}

form .formText {
    width: calc(100% - 10px);
}

form .formSubmit {
    font-weight: bold;
}

form .item {
    margin-bottom: 10px;
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
    color: #fff;
}

#login-wrap {
    height: 100%;
    margin: auto;
    vertical-align: middle;
    width: 100%;
}

#login-form {
        bottom: 0;
        height: 30px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 400px;
        
        max-height: 100%;
        max-width: 100%;
        overflow: auto;
}

#login-footer {
    bottom: 10px; 
    left: 10px;
    position: absolute;
}

#cookieconsent {
    background-color: #1f4068;
    border-top: 3px #e43f5a solid;
    box-sizing: border-box;
    font-size: 16pt;
    height: 100%;
    left: 0;
    line-height: 2;
    padding: 15px 25px;
    position: fixed;
    top: 150px;
    width: 100%;
}

#cookieconsent a {
    background-color: #162447;
}

#cookieconsent a:hover {
    background-color: #e43f5a;
}
