/* SB DJ 
 * Release 2020.0
 * Written by Saskia Brückner
 *
 * Color sheme: https://colorhunt.co/palette/181367
 */

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 12pt;
    line-height: 1.5;
    background-color: #162447;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: #1f4068;
    padding: 5px 10px;
    margin: 0 5px 0 0;
    border-radius: 10px;
}

a:hover {
    background-color: #e43f5a;
}

h1, 
h2, 
h3 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

h1 {
    font-size: 40pt;
}

h2, h3 {
    font-size: 25pt;
}

.item {
    background-color: #1f4068;
    margin: 0 -5px 5px -5px;
    padding: 5px 10px;
    border-radius: 10px;
    vertical-align: middle;
}

.item .box {
    line-height: 200%;
}

.wish {
    background-color: #40681F;
}

.title {
    font-family: "Playfair Display", serif;
    font-size: 15pt;
}

.artist {
    font-size: 10pt;
}

.votes, 
.hostname, 
.timestamp {
    font-size: 8pt;
}

.actions {
    width: 100%;
    text-align: right;
}

.btnRefresh,
.btnDefault,
.btnDanger,
.removeFromPlaylist {
    background-color: #1f4068;
    padding: 5px 10px;
    margin: 0 5px 0 0;
    font-size: 12pt;
    border-radius: 5px;
}

.btnRefresh:hover,
.play:hover,
.wish .removeFromPlaylist:hover,
.accept:hover {
    background-color: #66864B;
}

.btnDefault:hover,
.removeFromPlaylist:hover {
    background-color: #4B6686;
}

.btnDanger:hover,
.decline:hover {
    background-color: #864B66;
}

.btnRefresh {
    background-color: #40681F;
}

.btnDanger {
    background-color: #681F40;
}

.accepted,
.play,
.wish .removeFromPlaylist,
.accepted .vote,
.played {
    background-color: #40681F;
}

.accepted .vote:hover {
    background-color: #e43f5a;
}

.declined {
    background-color: #681F40;
}

.latestwish {
    background-color: #1f4068;
    animation: latestwish 1s;
}

.setlist {
    background-color: #162447;
    border-color: #1f4068;
    border-style: solid;
    border-width: 0 3px;
}

@keyframes latestwish {
    from { 
        background-color: #e43f5a; 
    }
    to { 
        background-color: #1f4068; 
    }
}

.yourwish {
    color: #e43f5a;
    background-color: #1f4068;
    padding: 5px 10px;
    margin: 0 5px 0 0;
    border-radius: 10px;
}

#msg {
    color: #fff;
    text-decoration: none;
    background-color: #1f4068;
    padding: 5px 10px;
    margin: 10px 0 0 0;
    border-radius: 10px;
}

#msg i {
    font-family: "Playfair Display", serif;
    font-style: normal;
    color: #d0d3da;
}

#msg i::before {
    content: " « ";
    color: #d0d3da;
}

#msg i::after {
    content: " » ";
    color: #d0d3da;
}

#header a {
    color: #fff;
    font-weight: 300;
}

#header a:hover {
    color: #fff;
    font-weight: 300;
}

#footer .box,
#header .box,
.content {
    margin: 0;
    padding: 15px 25px;
}

#footer small {
    margin: 0 5px 0 0;
    font-size: 8pt;
    line-height: 2.7;
}

form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: #4B6686;
    border-radius: 10px;
    border: 0;
    font-size: 12pt;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    padding: 5px 10px;
    color: #fff;
    outline: none;
    margin: 0 0 0 -5px;
}

form .formText {
    width: calc(100% - 10px);
}

form .formSubmit {
    font-weight: bold;
}

form .item {
    margin-bottom: 10px;
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
    color: #fff;
}

#login-wrap {
    width: 100%;
    height: 100%;
    margin: auto;
    vertical-align: middle;
}

#login-form {
        position: absolute;
        width: 250px;
        height: 30px;
        text-align: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
}

#login-footer {
    position: absolute;
    bottom: 10px; 
    left: 10px;
}
